.form-group{
    text-align: center;
    label{
        font-weight: bold;
    }
    select{
        border: 10px yellow;
        margin: 10px 0;
        padding: 10px;
        border: 2px solid #eee;
        border-radius:10px;
        width: 40%;
        font-weight: bold;
        margin-top: 40px;
        //border:0; // remove default border
        //border-bottom:1px solid #eee;
        //box-shadow:0 0 15px 4px rgb(0, 0, 0);
    }
    label:hover {
        background-color: #ccc;
      }
}